# URL del Backend SaaS (.NET API)
VITE_API_URL=http://localhost:5000/api/public/store

# ID de la Empresa (MongoDB ObjectId) correspondiente a este cliente
# Al ingresar este ID, la web cargará de forma automática y exclusiva sus productos
VITE_EMPRESA_ID=
